/* 5 MUC RESPONSIVE 567PX - 768PX - 992PX - 1200PX - 1400PX */
.gx-30 {
    --bs-gutter-x:30px;
}
.container-xxl {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:567px) {
   .header-title {
    width: auto;
   }
   .new-arrivals-heading-title {
    width: auto;
    text-align: left;
    margin-bottom: 0;
    }
    .new-arrivals-heading-buttons {
    width: auto;
    }
    .billboard-section h2 {
        font-size: 28px;
        line-height: 38px;
    }

}


@media (min-width:768px) {
    .gx-lg-30 {
        --bs-gutter-x:30px;
    }
    .new-arrivals-content {
        overflow:unset;
    }
}


@media (min-width:992px) {
    .container-xxl {
        max-width: 1190px;
    }
    #main {
        padding-left: 140px;
    }
    .side-menu {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 140px;
        background-color: white;
        padding: 40px 0;
        margin-left: 0;
    }

    .side-menu-nav {
        height: 100%;
        display: flex;
        gap: 17px;
        flex-direction: column;
        position: static;
        transition: none;
    }

    .side-menu-nav-logo {
        padding-bottom: 40px;
        width: 100%;
        border-bottom: 1px solid #F5F8FA;
    }
    .side-menu-toggle {
        display: none;
    }
    .header-feature-search-box {
        width: 240px;
        display: flex;
        margin-bottom: 0;
    }
    .search-showup {
        display: none;
    }
}


@media (min-width:1200px) {
    .time-line-text {
        width: 254px;
        gap: 8px;
    }
    .col-xl-4-3 {
        width: 37%;
    }
    .col-xl-7-7 {
        width: 63%;
    }
    .mb-xl-30 {
        margin-bottom: 30px
    }
    .g-xl-30 {
        --bs-gutter-x:30px;
        --bs-gutter-y:30px;
    }
    .gx-xl-30 {
        --bs-gutter-x:30px;
    }
    .gx-xl-60 {
        --bs-gutter-x:60px;
    }
    .gap-xl-30 {
        gap: 30px;
    }
}
@media (min-width:1400px) {
    .gx-xxl-60 {
        --bs-gutter-x:60px;
    }
}