.container-xxl {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:992px) {
    .container-xxl {
        max-width: 1190px;
    }
    #main {
        padding-left: 140px;
    }
    .side-menu {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 140px;
        background-color: white;
        padding: 40px;
        margin-left: 0;
    }

    .side-menu-nav {
        height: 100%;
        display: flex;
        gap: 17px;
        flex-direction: column;
        border-top: 1px solid #F5F8FA;
    }

    .side-menu-nav-logo {
        margin-bottom: 40px;
    }
    .side-menu-toggle {
        display: none;
    }

}
@media (min-width:1200px) {
    .col-xl-4-3 {
        width: 36.2%;
    }
    .col-xl-7-7 {
        width: 63.8%;
    }
    .gx-xxl-30 {
        --bs-gutter-x:30px;
    }
}
@media (min-width:1400px) {
    .gx-xxl-60 {
        --bs-gutter-x:60px;
    }
}